.main {
  max-width: 1024px;
  margin: 0 auto;
}

.blackarea {
  background-color: #000;
  color: #fff;
}

.tablebox {
  margin: 0 auto;
  text-align: center;
  text-align: -webkit-center;
}

.mytable {
  border-collapse: collapse;
}

td, th {
  font-size: 1.4em;
  font-weight: 600;
}

.tblCell {
  border: 1px solid gray;
  width: 47px;
  height: 47px;
  font-size: 1.8em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tblCell:hover {
  cursor: pointer;
  font-size: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

.hide {
  display: none;
}

.red-border {
  border: 1px solid red;
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.basket {
  max-width: 500px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 40px;
  margin: 50px;
  background-color: lavender;
  margin: 0 auto;
}

.basket-main {
  position: relative;
}

.basket-sections {
  background-color: cadetblue;
  border-radius: 40px;
  overflow-x: clip;
}

.basket-sections input {
  width: 85%;
  margin: 10px auto;
}

.basket-sections > span {
  display: block;
  background-color: rgba(44, 44, 44, 0.5);
  color: #fff;
}

.basket-sections > span:hover {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  background-color: rgba(26, 24, 24, 0.5);
}

.basket-prod {
  padding: 0 0 8px 0;
}

.basket-prod-operation {
  background-color: green;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.basket-prod-operation__minus {
  border-radius: 10px 0 0 10px;
  border-right: 1px solid #f8f8ecda;
  min-width: 30px;
}

.basket-prod-operation__minus:hover {
  cursor: pointer;
  background-color: #38c244;
}

.basket-prod-operation__minus:active {
  background-color: #32533b;
  font-weight: 900;
}

.basket-prod-operation__plus {
  border-radius: 0 10px 10px 0;
  border-left: 1px solid #f8f8ecda;
  min-width: 30px;
}

.basket-prod-operation__plus:hover {
  cursor: pointer;
  background-color: #38c244;
}

.basket-prod-operation__plus:active {
  background-color: #32533b;
  font-weight: 900;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.products-items {
  margin: 10px;
  border: 1px solid gray;
  padding: 10px;
  max-width: 150px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-items__pic {
  max-width: 100px;
  margin: 0 auto 10px auto;
}

.products-items__pic:hover {
  cursor: pointer;
}

.products-items__btn {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: aquamarine;
}

.products-items__btn:hover {
  cursor: pointer;
  background-color: #cdf7ee;
}

.products-items__btn:active {
  background-color: #fff;
  font-weight: 600;
  -webkit-box-shadow: 0 0 5px 5px #aad5f8;
          box-shadow: 0 0 5px 5px #aad5f8;
}
/*# sourceMappingURL=main.css.map */